*.class
sootOutput
*.jar
.classpath
.project
.gradle
.settings
build/
classes/
tmp/
staccato_logs/
misc_data/
*.pyc
settings_pages/
test.log
jmeter.log
evaluation/tomcat_control
evaluation/deploy_wrapper
bug_results.yml
runtime_data.yml

